apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapi
  namespace: qna
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapi
  template:
    metadata:
      labels:
        app: webapi
    spec:
      nodeSelector:
        role: core
      containers:
      - name: webapi
        image: lacet301/qna-internal-webapi:latest
        ports:
        - containerPort: 8080
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: "Development"
        - name: ASPNETCORE_URLS
          value: "http://+:8080"
        - name: ConnectionStrings__DefaultConnection
          value: "Server=sqlserver,1433;Database=QnA_Internal;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;Encrypt=False"

        - name: AIService__BaseUrl
          value: "http://ai-svc:8000"
        - name: Qdrant__BaseUrl
          value: "http://qdrant:6333"
        - name: Qdrant__Collection
          value: "kb"
        - name: Qdrant__VectorName
          value: "dense_v1"
        - name: Qdrant__TopK
          value: "8"

        - name: Email__Smtp__Host
          value: "mailpit"
        - name: Email__Smtp__Port
          value: "1025"
        - name: Email__Smtp__UseSsl
          value: "false"
        - name: Email__From
          value: "no-reply@qna.local"

        readinessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
        livenessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: webapi
  namespace: qna
spec:
  selector:
    app: webapi
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
  type: NodePort