apiVersion: batch/v1
kind: Job
metadata:
  name: qna-db-migrator
  namespace: qna
spec:
  backoffLimit: 1
  template:
    spec:
      restartPolicy: Never
      nodeSelector:
        role: core
      containers:
      - name: migrator
        image: lacet301/qna-internal-migrator:latest
        imagePullPolicy: Always
        command: ["/app/migrate"]
        env:
        - name: ConnectionStrings__DefaultConnection
          value: "Server=sqlserver,1433;Database=QnA_Internal;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;Encrypt=False"