apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: sqlserver
  namespace: qna
spec:
  serviceName: db
  replicas: 1
  selector:
    matchLabels:
      app: sqlserver
  template:
    metadata:
      labels:
        app: sqlserver
    spec:
      nodeSelector:
        role: core
      securityContext:
        fsGroup: 10001
        runAsUser: 10001
        runAsGroup: 10001
      containers:
      - name: sqlserver
        image: mcr.microsoft.com/mssql/server:2019-latest
        env:
        - name: ACCEPT_EULA
          value: "Y"
        - name: MSSQL_SA_PASSWORD
          value: "Sa123456!"
        volumeMounts:
        - name: sql-data
          mountPath: /var/opt/mssql
  volumeClaimTemplates:
  - metadata:
      name: sql-data
    spec:
      accessModes:
      - ReadWriteOnce
      storageClassName: local-path
      resources:
        requests:
          storage: 10Gi
---
apiVersion: v1
kind: Service
metadata:
  name: db
  namespace: qna
spec:
  selector:
    app: sqlserver
  ports:
  - port: 1433
    targetPort: 1433